<!-- views/createUser.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <%- include("partials/errors.ejs") %>
    <form action="/user/create" method="POST">
      <label for="firstName">First Name: </label>
      <input type="text" name="firstName" id="firstName" required /> <br />
      <label for="lastName">Last Name: </label>
      <input type="text" name="email" id="email" required /> <br />
      <label for="email">Email </label>
      <input type="text" name="lastName" id="email" required /> <br />
      <label for="age">Age: </label>
      <input type="text" name="age" id="age" /> <br />
      <label for="bio">Bio </label>
      <input type="text" name="bio" id="Bio" /><br />
      <button type="submit">Submit</button>
    </form>
    <a href="/user">Back to home</a>
  </body>
</html>
