<html>
  <body>
    <%- include('navbar', {links: links}) %>
    <% authors.forEach((author) => { %>
        <%- include('authors/author', {author: author}); %>
      <% }); %>
  </body>
</html>
